#panels-about-us {
    margin-top: 20px;
}

.title-testimony {
    background-color: #0275D8;
    font-size: 24px;
    padding: 20px 0;
    color: #fff;
    margin-bottom: 0;
}

.select-contact, .radio-group {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.radio-group .radio:first-child {
    margin-top: 0;
}

footer {
    background-color: #333;
    margin-top: 20px;
    color: #fff;
    padding: 20px;
}

footer address:last-child {
    margin-bottom: 0;
}
