html, body {
    height: 100%;
}

#panels-about-us {
    margin-top: 20px;
}

.title-testimony {
    background-color: #0275D8;
    font-size: 24px;
    padding: 20px 0;
    color: #fff;
    margin-bottom: 0;
}

.select-contact, .radio-group {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.radio-group .radio:first-child {
    margin-top: 0;
}

footer {
    background-color: #333;
    margin-top: 20px;
    color: #fff;
    padding: 20px;
}

footer address:last-child {
    margin-bottom: 0;
}

header {
    height: 100%;
    background-image: url(../img/castelo.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
}

.topCasaFina-banner {
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.topCasaFina-banner h1 {
    margin-top: 0;
}

@media(min-width: 768px) {

    #panels-about-us {
        margin-top: 0;
    }

    #premium-text {
        margin-top: 20px;
    }
}

@media(min-width: 992px) {

    .topCasaFina-banner {
        left: 0;
        transform: translate(0, -80%);
        width: 40%;
    }

    .topCasaFina-bannerWrapper {
        position: relative;
        height: 100%;
    }
}
